@font-face {
    font-family: yekanvf;
    src: url("/fonts/iranyekan/IRANYekanXVF.woff") format("woff-variations");
    font-display: swap;
  }
  
  @font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/iranyekan/woff/IRANYekanX-Light.woff") format("woff"),
      url("/fonts/iranyekan/woff2/IRANYekanX-Light.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/iranyekan/woff/IRANYekanX-Regular.woff") format("woff"),
      url("/fonts/iranyekan/woff2/IRANYekanX-Regular.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/iranyekan/woff/IRANYekanX-Medium.woff") format("woff"),
      url("/fonts/iranyekan/woff2/IRANYekanX-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/iranyekan/woff/IRANYekanX-Bold.woff") format("woff"),
      url("/fonts/iranyekan/woff2/IRANYekanX-Bold.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/iranyekan/woff/IRANYekanX-Black.woff") format("woff"),
      url("/fonts/iranyekan/woff2/IRANYekanX-Black.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: danavf;
    src: url("/fonts/dana/DanaVF.woff") format("woff-variations");
    font-display: swap;
  }
  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/dana/woff2/Dana-Light.woff2") format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/woff/Dana-Light.woff")
        format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    font-display: swap;
  }
  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/dana/woff2/Dana-Regular.woff2") format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/woff/Dana-Regular.woff")
        format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    font-display: swap;
  }
  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/dana/woff2/Dana-Medium.woff2") format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/woff/Dana-Medium.woff")
        format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    font-display: swap;
  }
  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/dana/woff2/Dana-Bold.woff2") format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/woff/Dana-Bold.woff")
        format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    font-display: swap;
  }
  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/dana/woff2/Dana-Black.woff2") format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/ url("/fonts/dana/woff/Dana-Black.woff")
        format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    font-display: swap;
  }